In [2]:
import os
import pandas as pd

In [3]:
path = os.path.join(os.path.join(os.getcwd(), "../nextbike/data"), "input/nuremberg.csv")
path

'/Users/mstroh/PycharmProjects/PDS_Project/notebooks/../nextbike/data/input/nuremberg.csv'

In [31]:
df = pd.read_csv(path)
# clean up useless index column
df = df.drop(df.columns[[0]], axis=1)
df

,p_spot,p_place_type,datetime,b_number,trip,p_uid,p_bikes,p_lat,b_bike_type,p_name,p_number,p_lng,p_bike
0,True,0,2019-01-20 02:06:00,11281,first,4774295,5,50.808852,15,Biegenstraße/Cineplex,5155.0,8.773134,False
1,True,0,2019-01-20 14:16:00,11281,last,4774295,4,50.808852,15,Biegenstraße/Cineplex,5155.0,8.773134,False
2,True,0,2019-01-20 00:00:00,11169,first,4774543,5,50.795224,15,Südbahnhof,5173.0,8.763266,False
3,True,0,2019-01-20 01:55:00,11169,start,4774543,5,50.795224,15,Südbahnhof,5173.0,8.763266,False
4,True,0,2019-01-20 02:06:00,11169,end,4774368,4,50.804522,15,Frankfurter Straße/Psychologie,5159.0,8.770358,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275084,False,12,2019-12-31 23:59:00,90483,last,26506255,1,49.456960,71,BIKE 90483,0.0,11.105922,True
2275085,False,12,2019-12-31 11:17:00,90057,first,26504052,0,49.456893,71,BIKE 90057,0.0,11.088171,True
2275086,True,0,2019-12-31 23:59:00,90057,last,66103,4,49.457127,71,Rathenauplatz,4611.0,11.089604,False
2275087,True,0,2019-12-31 17:00:00,90206,first,66119,6,49.448755,71,Dürrenhof,4626.0,11.097747,False
2275088,True,0,2019-12-31 23:59:00,90206,last,66119,8,49.448755,71,Dürrenhof,4626.0,11.097747,False

In [5]:
free_bikes = df[df['p_bike'] == True]
free_bikes

,p_spot,p_place_type,datetime,b_number,trip,p_uid,p_bikes,p_lat,b_bike_type,p_name,p_number,p_lng,p_bike
56,False,12,2019-01-20 19:04:00,11235,end,12118660,1,50.813408,15,BIKE 11235,0.0,8.773823,True
57,False,12,2019-01-20 21:03:00,11235,start,12118660,1,50.813408,15,BIKE 11235,0.0,8.773823,True
92,False,12,2019-01-20 10:13:00,11103,end,12108257,1,50.813504,15,BIKE 11103,0.0,8.773752,True
93,False,12,2019-01-20 16:05:00,11103,start,12108257,1,50.813504,15,BIKE 11103,0.0,8.773752,True
116,False,12,2019-01-20 00:00:00,11289,first,12094082,1,50.808951,15,BIKE 11289,0.0,8.776974,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275081,False,12,2019-12-31 11:17:00,90483,first,26504049,0,49.456893,71,BIKE 90483,0.0,11.086900,True
2275082,False,12,2019-12-31 12:43:00,90483,start,26504888,1,49.456587,71,BIKE 90483,0.0,11.088190,True
2275083,False,12,2019-12-31 12:51:00,90483,end,26506255,1,49.457009,71,BIKE 90483,0.0,11.105909,True
2275084,False,12,2019-12-31 23:59:00,90483,last,26506255,1,49.456960,71,BIKE 90483,0.0,11.105922,True
2275085,False,12,2019-12-31 11:17:00,90057,first,26504052,0,49.456893,71,BIKE 90057,0.0,11.088171,True

In [6]:
fix_spots = df[df['p_spot'] == True]
fix_spots

,p_spot,p_place_type,datetime,b_number,trip,p_uid,p_bikes,p_lat,b_bike_type,p_name,p_number,p_lng,p_bike
0,True,0,2019-01-20 02:06:00,11281,first,4774295,5,50.808852,15,Biegenstraße/Cineplex,5155.0,8.773134,False
1,True,0,2019-01-20 14:16:00,11281,last,4774295,4,50.808852,15,Biegenstraße/Cineplex,5155.0,8.773134,False
2,True,0,2019-01-20 00:00:00,11169,first,4774543,5,50.795224,15,Südbahnhof,5173.0,8.763266,False
3,True,0,2019-01-20 01:55:00,11169,start,4774543,5,50.795224,15,Südbahnhof,5173.0,8.763266,False
4,True,0,2019-01-20 02:06:00,11169,end,4774368,4,50.804522,15,Frankfurter Straße/Psychologie,5159.0,8.770358,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275079,True,0,2019-12-31 17:06:00,90451,end,66112,14,49.448090,71,Königstor,4619.0,11.081892,False
2275080,True,0,2019-12-31 23:59:00,90451,last,66112,10,49.448090,71,Königstor,4619.0,11.081892,False
2275086,True,0,2019-12-31 23:59:00,90057,last,66103,4,49.457127,71,Rathenauplatz,4611.0,11.089604,False
2275087,True,0,2019-12-31 17:00:00,90206,first,66119,6,49.448755,71,Dürrenhof,4626.0,11.097747,False
2275088,True,0,2019-12-31 23:59:00,90206,last,66119,8,49.448755,71,Dürrenhof,4626.0,11.097747,False

In [7]:
# either p_bike or p_spot is set
# booleans for free bikes and fix spots
df[(df['p_bike'] == False) & (df['p_spot'] == False)]

,p_spot,p_place_type,datetime,b_number,trip,p_uid,p_bikes,p_lat,b_bike_type,p_name,p_number,p_lng,p_bike
158207,False,0,2019-05-10 14:34:00,11252,first,15576412,1,50.810036,15,Philipps-Universität Marburg - Hochschulrechen...,0.0,8.811592,False
158208,False,0,2019-05-10 16:23:00,11252,start,15576412,1,50.810036,15,Philipps-Universität Marburg - Hochschulrechen...,0.0,8.811592,False
520675,False,0,2019-01-20 00:00:00,90628,first,750382,1,49.434673,4,Lager ALT Bestand vor 01.03.2016,47700.0,11.105440,False
520676,False,0,2019-01-20 23:59:00,90628,last,750382,1,49.434673,4,Lager ALT Bestand vor 01.03.2016,47700.0,11.105440,False
521194,False,0,2019-01-21 00:00:00,90628,first,750382,1,49.434673,4,Lager ALT Bestand vor 01.03.2016,47700.0,11.105440,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1780011,False,0,2019-06-03 23:59:00,90628,last,750382,1,49.434673,4,Lager alte Räder Norisbike,47700.0,11.105440,False
1780023,False,0,2019-06-04 00:00:00,90628,first,750382,1,49.434673,4,Lager alte Räder Norisbike,47700.0,11.105440,False
1780024,False,0,2019-06-04 10:16:00,90628,start,750382,1,49.434673,4,Lager alte Räder Norisbike,47700.0,11.105440,False
1780025,False,0,2019-06-04 10:18:00,90628,end,750382,1,49.434673,4,Lager alte Räder Norisbike,47700.0,11.105440,False
1780026,False,0,2019-06-04 11:32:00,90628,last,750382,1,49.434673,4,Lager alte Räder Norisbike,47700.0,11.105440,False

In [67]:
# p_place_type is either 0 or 12
# fix spot => place_type: 0
# free bike => place_type: 12
df[(df['p_place_type'] != 0) & (df['p_place_type'] != 12)]

Empty DataFrame
Columns: [p_spot, p_place_type, datetime, b_number, trip, p_uid, p_bikes, p_lat, b_bike_type, p_name, p_number, p_lng, p_bike]
Index: []

In [89]:
# possible values for trip are:
# start, end, first, last
df.trip.unique()

array(['first', 'last', 'start', 'end'], dtype=object)

In [69]:
all_p_names = df.p_name.unique()
all_p_names

array(['Biegenstraße/Cineplex', 'Südbahnhof',
       'Frankfurter Straße/Psychologie', ..., 'Bucher Str. 10',
       'Nützelstr. 4', 'Bucher Str. 17'], dtype=object)

In [70]:
all_p_names.size

2252

In [71]:
all_p_uids = df.p_uid.unique()
all_p_uids

array([ 4774295,  4774543,  4774368, ..., 26504888, 26506255, 26504052])

In [72]:
all_p_uids.size

158375

In [24]:
df.drop_duplicates()

,p_spot,p_place_type,datetime,b_number,trip,p_uid,p_bikes,p_lat,b_bike_type,p_name,p_number,p_lng,p_bike
0,True,0,2019-01-20 02:06:00,11281,first,4774295,5,50.808852,15,Biegenstraße/Cineplex,5155.0,8.773134,False
1,True,0,2019-01-20 14:16:00,11281,last,4774295,4,50.808852,15,Biegenstraße/Cineplex,5155.0,8.773134,False
2,True,0,2019-01-20 00:00:00,11169,first,4774543,5,50.795224,15,Südbahnhof,5173.0,8.763266,False
3,True,0,2019-01-20 01:55:00,11169,start,4774543,5,50.795224,15,Südbahnhof,5173.0,8.763266,False
4,True,0,2019-01-20 02:06:00,11169,end,4774368,4,50.804522,15,Frankfurter Straße/Psychologie,5159.0,8.770358,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1690185,False,12,2019-12-31 12:19:00,90467,end,26505408,1,49.454160,71,BIKE 90467,0.0,11.078513,True
1690193,False,12,2019-12-31 00:00:00,90022,first,26493105,1,49.453271,71,BIKE 90022,0.0,11.071110,True
1690246,False,12,2019-12-31 12:43:00,90483,start,26504888,1,49.456587,71,BIKE 90483,0.0,11.088190,True
1690248,False,12,2019-12-31 23:59:00,90483,last,26506255,1,49.456960,71,BIKE 90483,0.0,11.105922,True
1937553,False,12,2019-09-07 21:56:00,90364,end,21683684,1,49.411742,71,BIKE 90364,0.0,11.297466,True

In [38]:
print(df.p_lat.round(6)[0])

50.808852

In [73]:
# 5 different types of bikes
all_b_bike_type = df.b_bike_type.unique()
all_b_bike_type

array([15,  0,  4, 71, 14])

In [80]:
df[df['p_uid'] == 4774295]

,p_spot,p_place_type,datetime,b_number,trip,p_uid,p_bikes,p_lat,b_bike_type,p_name,p_number,p_lng,p_bike
0,True,0,2019-01-20 02:06:00,11281,first,4774295,5,50.808852,15,Biegenstraße/Cineplex,5155.0,8.773134,False
1,True,0,2019-01-20 14:16:00,11281,last,4774295,4,50.808852,15,Biegenstraße/Cineplex,5155.0,8.773134,False
48,True,0,2019-01-20 15:14:00,11235,end,4774295,5,50.808852,15,Biegenstraße/Cineplex,5155.0,8.773134,False
49,True,0,2019-01-20 15:23:00,11235,start,4774295,5,50.808852,15,Biegenstraße/Cineplex,5155.0,8.773134,False
64,True,0,2019-01-20 13:41:00,11214,end,4774295,4,50.808852,15,Biegenstraße/Cineplex,5155.0,8.773134,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
520520,True,0,2019-12-31 23:59:00,11163,last,4774295,10,50.808867,15,Biegenstraße/Cineplex,5155.0,8.773050,False
520523,True,0,2019-12-31 18:21:00,11079,end,4774295,2,50.808867,15,Biegenstraße/Cineplex,5155.0,8.773050,False
520524,True,0,2019-12-31 18:23:00,11079,start,4774295,1,50.808867,15,Biegenstraße/Cineplex,5155.0,8.773050,False
520577,True,0,2019-12-31 18:51:00,11299,end,4774295,1,50.808867,15,Biegenstraße/Cineplex,5155.0,8.773050,False
520578,True,0,2019-12-31 21:44:00,11299,last,4774295,3,50.808867,15,Biegenstraße/Cineplex,5155.0,8.773050,False

In [77]:
# i assume every p_uid is associated with a specific p_name
df[(df['p_uid'] == 4774295) & (df['p_name'] != 'Biegenstraße/Cineplex')]

Empty DataFrame
Columns: [p_spot, p_place_type, datetime, b_number, trip, p_uid, p_bikes, p_lat, b_bike_type, p_name, p_number, p_lng, p_bike]
Index: []

In [9]:
# kick out "duplicated" infos
df_cleaned = df.drop(['p_place_type', 'p_uid', 'p_bike'], axis=1)
df_cleaned

,p_spot,datetime,b_number,trip,p_bikes,p_lat,b_bike_type,p_name,p_number,p_lng
0,True,2019-01-20 02:06:00,11281,first,5,50.808852,15,Biegenstraße/Cineplex,5155.0,8.773134
1,True,2019-01-20 14:16:00,11281,last,4,50.808852,15,Biegenstraße/Cineplex,5155.0,8.773134
2,True,2019-01-20 00:00:00,11169,first,5,50.795224,15,Südbahnhof,5173.0,8.763266
3,True,2019-01-20 01:55:00,11169,start,5,50.795224,15,Südbahnhof,5173.0,8.763266
4,True,2019-01-20 02:06:00,11169,end,4,50.804522,15,Frankfurter Straße/Psychologie,5159.0,8.770358
...,...,...,...,...,...,...,...,...,...,...
2275084,False,2019-12-31 23:59:00,90483,last,1,49.456960,71,BIKE 90483,0.0,11.105922
2275085,False,2019-12-31 11:17:00,90057,first,0,49.456893,71,BIKE 90057,0.0,11.088171
2275086,True,2019-12-31 23:59:00,90057,last,4,49.457127,71,Rathenauplatz,4611.0,11.089604
2275087,True,2019-12-31 17:00:00,90206,first,6,49.448755,71,Dürrenhof,4626.0,11.097747
2275088,True,2019-12-31 23:59:00,90206,last,8,49.448755,71,Dürrenhof,4626.0,11.097747

In [85]:
df_cleaned[df_cleaned['p_name'] == 'Südbahnhof']

,p_spot,datetime,b_number,trip,p_bikes,p_lat,b_bike_type,p_name,p_number,p_lng
2,True,2019-01-20 00:00:00,11169,first,5,50.795224,15,Südbahnhof,5173.0,8.763266
3,True,2019-01-20 01:55:00,11169,start,5,50.795224,15,Südbahnhof,5173.0,8.763266
38,True,2019-01-20 00:00:00,11235,first,5,50.795224,15,Südbahnhof,5173.0,8.763266
39,True,2019-01-20 08:06:00,11235,start,3,50.795224,15,Südbahnhof,5173.0,8.763266
151,True,2019-01-20 13:19:00,11127,end,1,50.795224,15,Südbahnhof,5173.0,8.763266
...,...,...,...,...,...,...,...,...,...,...
520155,True,2019-12-31 10:12:00,11235,start,3,50.795224,15,Südbahnhof,5173.0,8.763266
520316,True,2019-12-31 00:00:00,11107,first,2,50.795224,15,Südbahnhof,5173.0,8.763266
520317,True,2019-12-31 17:03:00,11107,start,1,50.795224,15,Südbahnhof,5173.0,8.763266
520322,True,2019-12-31 00:00:00,11173,first,2,50.795224,15,Südbahnhof,5173.0,8.763266
520323,True,2019-12-31 10:12:00,11173,start,3,50.795224,15,Südbahnhof,5173.0,8.763266

In [87]:
# every p_name has the same p_number (exception: bikes!)
df_cleaned[df_cleaned['p_name'] == 'Südbahnhof'].p_number.unique()

array([5173.])

In [15]:
# one of the values of p_number is NaN
df_cleaned.p_number.unique().size

102

In [96]:
df_cleaned.p_name.unique().size

2252

In [94]:
df_cleaned.b_number.unique().size

837

In [104]:
df_cleaned[(df_cleaned['b_number'] == 11169) & ((df_cleaned['trip'] == 'start') | (df_cleaned['trip'] == 'first'))]

,p_spot,datetime,b_number,trip,p_bikes,p_lat,b_bike_type,p_name,p_number,p_lng
2,True,2019-01-20 00:00:00,11169,first,5,50.795224,15,Südbahnhof,5173.0,8.763266
3,True,2019-01-20 01:55:00,11169,start,5,50.795224,15,Südbahnhof,5173.0,8.763266
5,True,2019-01-20 08:15:00,11169,start,3,50.804522,15,Frankfurter Straße/Psychologie,5159.0,8.770358
7,True,2019-01-20 11:58:00,11169,start,1,50.804522,15,Frankfurter Straße/Psychologie,5159.0,8.770358
9,True,2019-01-20 15:12:00,11169,start,3,50.804725,15,Wilhelmsplatz,5178.0,8.759248
...,...,...,...,...,...,...,...,...,...,...
519443,False,2019-12-29 15:56:00,11169,start,1,50.822274,15,BIKE 11169,0.0,8.770448
519948,False,2019-12-30 00:00:00,11169,first,1,50.822274,15,BIKE 11169,0.0,8.770448
520507,False,2019-12-31 00:00:00,11169,first,1,50.822274,15,BIKE 11169,0.0,8.770448
520508,False,2019-12-31 14:59:00,11169,start,1,50.822274,15,BIKE 11169,0.0,8.770448
520510,True,2019-12-31 23:39:00,11169,start,2,50.827921,15,Ginseldorfer Weg,5164.0,8.775086

In [111]:
# first and last seems to mark the first and last activity of every day
# why is first and last not the same time as start and end???
# do we need these additional infos about first & last???
df_cleaned[(df_cleaned['b_number'] == 11169)].head(30)

,p_spot,datetime,b_number,trip,p_bikes,p_lat,b_bike_type,p_name,p_number,p_lng
2,True,2019-01-20 00:00:00,11169,first,5,50.795224,15,Südbahnhof,5173.0,8.763266
3,True,2019-01-20 01:55:00,11169,start,5,50.795224,15,Südbahnhof,5173.0,8.763266
4,True,2019-01-20 02:06:00,11169,end,4,50.804522,15,Frankfurter Straße/Psychologie,5159.0,8.770358
5,True,2019-01-20 08:15:00,11169,start,3,50.804522,15,Frankfurter Straße/Psychologie,5159.0,8.770358
6,True,2019-01-20 11:39:00,11169,end,1,50.804522,15,Frankfurter Straße/Psychologie,5159.0,8.770358
7,True,2019-01-20 11:58:00,11169,start,1,50.804522,15,Frankfurter Straße/Psychologie,5159.0,8.770358
8,True,2019-01-20 12:06:00,11169,end,2,50.804725,15,Wilhelmsplatz,5178.0,8.759248
9,True,2019-01-20 15:12:00,11169,start,3,50.804725,15,Wilhelmsplatz,5178.0,8.759248
10,True,2019-01-20 15:27:00,11169,end,5,50.822927,15,Alte Kasseler Straße/Jägertunnel,5150.0,8.774681
11,True,2019-01-20 15:39:00,11169,start,5,50.822927,15,Alte Kasseler Straße/Jägertunnel,5150.0,8.774681
12,True,2019-01-20 15:42:00,11169,end,4,50.822927,15,Alte Kasseler Straße/Jägertunnel,5150.0,8.774681
13,True,2019-01-20 16:40:00,11169,last,5,50.822927,15,Alte Kasseler Straße/Jägertunnel,5150.0,8.774681
2235,True,2019-01-22 11:15:00,11169,first,1,50.822927,15,Alte Kasseler Straße/Jägertunnel,5150.0,8.774681
2236,True,2019-01-22 12:12:00,11169,start,1,50.822927,15,Alte Kasseler Straße/Jägertunnel,5150.0,8.774681
2237,True,2019-01-22 13:01:00,11169,end,1,50.822927,15,Alte Kasseler Straße/Jägertunnel,5150.0,8.774681
2238,True,2019-01-22 13:35:00,11169,start,2,50.822927,15,Alte Kasseler Straße/Jägertunnel,5150.0,8.774681
2239,True,2019-01-22 14:20:00,11169,end,5,50.822927,15,Alte Kasseler Straße/Jägertunnel,5150.0,8.774681
2240,True,2019-01-22 15:39:00,11169,start,4,50.822927,15,Alte Kasseler Straße/Jägertunnel,5150.0,8.774681
2241,False,2019-01-22 15:49:00,11169,end,1,50.813469,15,BIKE 11169,0.0,8.773794
2242,False,2019-01-22 18:53:00,11169,start,1,50.813469,15,BIKE 11169,0.0,8.773794
2243,True,2019-01-22 19:02:00,11169,end,5,50.803751,15,Universitätsstadion,5175.0,8.774697
2244,True,2019-01-22 19:13:00,11169,last,5,50.803751,15,Universitätsstadion,5175.0,8.774697
3350,True,2019-01-23 21:07:00,11169,first,5,50.798656,15,Georg-Gaßmann-Stadion,5163.0,8.752965
3351,True,2019-01-23 22:20:00,11169,last,5,50.798656,15,Georg-Gaßmann-Stadion,5163.0,8.752965
4600,True,2019-01-24 10:37:00,11169,first,5,50.798656,15,Georg-Gaßmann-Stadion,5163.0,8.752965
4601,True,2019-01-24 17:42:00,11169,start,5,50.798656,15,Georg-Gaßmann-Stadion,5163.0,8.752965
4602,True,2019-01-24 20:19:00,11169,end,5,50.798656,15,Georg-Gaßmann-Stadion,5163.0,8.752965
4603,True,2019-01-24 23:59:00,11169,last,3,50.798656,15,Georg-Gaßmann-Stadion,5163.0,8.752965
6506,True,2019-01-25 00:00:00,11169,first,3,50.798656,15,Georg-Gaßmann-Stadion,5163.0,8.752965
6507,True,2019-01-25 09:03:00,11169,start,4,50.798656,15,Georg-Gaßmann-Stadion,5163.0,8.752965

In [114]:
df_geoloc = df_cleaned[['p_name', 'p_lat', 'p_lng']].drop_duplicates()
df_geoloc

                                   p_name      p_lat      p_lng
0                   Biegenstraße/Cineplex  50.808852   8.773134
2                              Südbahnhof  50.795224   8.763266
4          Frankfurter Straße/Psychologie  50.804522   8.770358
8                           Wilhelmsplatz  50.804725   8.759248
10       Alte Kasseler Straße/Jägertunnel  50.822927   8.774681
...                                   ...        ...        ...
1690178                        BIKE 90155  49.461240  11.056849
1690185                        BIKE 90467  49.454160  11.078513
1690246                        BIKE 90483  49.456587  11.088190
1690248                        BIKE 90483  49.456960  11.105922
1937553                        BIKE 90364  49.411742  11.297466

[300739 rows x 3 columns]

In [115]:
path = os.path.join(os.path.join(os.getcwd(), "../nextbike/data"), "output/geoloc.csv")
path

'/Users/mstroh/PycharmProjects/PDS_Project/notebooks/../nextbike/data/output/geoloc.csv'

In [116]:
df_geoloc.to_csv(path, index=False)