In [13]:
import pandas as pd
import os

In [14]:
path = os.getcwd()+"/../nextbike/data/output/trips.csv"
path

'C:\\Users\\lenovo\\Documents\\GitHub\\Project\\notebooks/../nextbike/data/output/trips.csv'

In [15]:
df=pd.read_csv(path)
df.head()

,Unnamed: 0,p_spot_start,p_place_type_start,Start Time,Bike Number,p_uid_start,p_bikes_start,Latitude_start,b_bike_type_start,Place_start,...,End Place_id,Longitude_end,p_bike_end,Weekend,Duration,plz_start,plz_end,month,day,hour
0,210276,True,0,2019-03-20 13:56:00,90000,66128,5,49.435580,71,Hst. Dutzendteich,...,0.0,11.109361,True,False,19.0,90478,90478,3,20,13
1,210277,False,12,2019-04-12 08:25:00,90000,14394768,1,49.448249,71,BIKE 90000,...,0.0,11.067134,True,False,6.0,90402,90402,4,12,8
2,210278,False,12,2019-04-12 08:34:00,90000,14394887,1,49.448284,71,BIKE 90000,...,0.0,11.067134,True,False,2.0,90402,90402,4,12,8
3,210279,True,0,2019-01-22 07:30:00,90001,103596,1,49.440970,4,Allersberger Str. / Paulstr.,...,4678.0,11.130899,False,False,17.0,90461,90471,1,22,7
4,210280,True,0,2019-01-24 09:00:00,90001,331990,5,49.428760,4,easyCredit-Haus / Beuthener Str.,...,4678.0,11.130899,False,False,2.0,90471,90471,1,24,9

In [26]:
df.describe()

,Unnamed: 0,p_place_type_start,Bike Number,p_uid_start,p_bikes_start,Latitude_start,b_bike_type_start,Start Place_id,Longitude_start,p_place_type_end,...,Latitude_end,b_bike_type_end,End Place_id,Longitude_end,Duration,plz_start,plz_end,month,day,hour
count,186408.000000,186408.000000,186408.000000,1.864080e+05,186408.000000,186408.000000,186408.000000,186408.000000,186408.000000,186408.000000,...,186408.000000,186408.000000,186408.000000,186408.000000,186408.000000,186408.000000,186408.000000,186408.000000,186408.000000,186408.000000
mean,308724.694423,8.404017,90252.191430,1.618946e+07,2.436934,49.452338,63.653411,1412.908217,11.074596,8.541844,...,49.452310,63.653411,1359.866154,11.074585,12.055073,90424.905701,90424.660530,8.644039,15.566413,12.790647
std,56844.540499,5.497351,156.394462,1.015803e+07,2.956303,0.008749,20.795308,2397.581993,0.018015,5.434997,...,0.008758,20.795308,2377.057090,0.018022,23.769764,26.518705,26.294217,2.653705,8.401795,5.759576
min,210276.000000,0.000000,90000.000000,6.609300e+04,0.000000,49.378947,0.000000,0.000000,11.001029,0.000000,...,49.377284,0.000000,0.000000,11.001944,2.000000,90402.000000,90402.000000,1.000000,1.000000,0.000000
25%,259516.750000,0.000000,90121.000000,1.134180e+05,1.000000,49.448090,71.000000,0.000000,11.062237,0.000000,...,49.448090,71.000000,0.000000,11.062261,3.000000,90403.000000,90403.000000,8.000000,9.000000,9.000000
50%,308728.500000,12.000000,90243.000000,2.137825e+07,1.000000,49.452516,71.000000,0.000000,11.076377,12.000000,...,49.452471,71.000000,0.000000,11.076400,6.000000,90419.000000,90419.000000,9.000000,15.000000,13.000000
75%,358046.250000,12.000000,90369.000000,2.358190e+07,3.000000,49.457476,71.000000,4615.000000,11.083798,12.000000,...,49.457449,71.000000,4612.000000,11.083786,10.000000,90439.000000,90439.000000,10.000000,23.000000,17.000000
max,407529.000000,12.000000,90859.000000,2.651988e+07,35.000000,49.511604,71.000000,47700.000000,11.280029,12.000000,...,49.511724,71.000000,47700.000000,11.280029,250.000000,90491.000000,90491.000000,12.000000,31.000000,23.000000